body {
    background-color: #faf6f2; /* apply background color to entire page */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #faf6f2;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.topNav {
    width: 100%;  /* top navigation fits entire page width */
    height: 140px;
}

.logo {
    display: inline-block; /* display logo in same line as navigation links */
    vertical-align: top;
    width: 150px;
    margin-right: 270px;
    padding-left: 50px;
}
.topNav > a {
    display: inline-block;
    padding-left: 80px;
    padding-right: 30px;
    line-height: 150px;
    text-decoration: none; /* remove underline from links */
    font-size: 22px;
    color: #792f6c;
    font-weight: bold;
}

.topNav > a:hover {
    opacity: 0.7; /* change link color slightly when hovered over */
}

main {
    margin-top: 140px;
}

.heading {
    text-align: center;
    color: #792f6c;
    font-size: 40px;
    padding-bottom: 20px;
}

.contactForm {
    padding: 20px 20px 20px 20px;
}

.form1 {
    padding: 25px;
    background-color:lavender;
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.459);
}

.form1>label {
    font-weight: bold;
}

.form1:hover {
    box-shadow: 4px 8px 10px 4px black;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

button {
    width: 100%;
    background-color: rgb(144, 209, 144);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }

button:hover {
    background-color: #45a049;
  }

footer {
    background-color: #792f6c;
    height: 40px;
}

.footNote {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    color: #faf6f2;
}

@media screen and (max-width: 500px) {

    body {
        font-size: 15px;
    }
    
    .topNav {
        height: 80px;
    }

    .logo {
        width: 70px;
        margin-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
    }

    .topNav > a {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 80px;
        font-size: 15px;
    }

    main {
        margin-top: 80px;
    }

    .form1:hover {
        box-shadow: 2px 4px 6px 2px black;
    }
}